
.main-content {
  text-align: left;
  padding: 0 40px;
  label {
    display: block;
  }
  .meaning-content {
    ul {
      li {
        list-style: none;
      }
    }
  }
  footer {
    height: 40px;
  }
}
