@use '../../styles';

.main-content {
  text-align: left;
  padding: 0 40px;
  label {
    display: block;
  }
  .meaning-content {
    & > * {
      margin-bottom: 30px;
    }
    & > label {
      margin-bottom: 0;
      display: inline-block;
      margin-right: 10px;
    }
    ul {
      li {
        list-style: none;
      }
    }
    .words {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: 1px solid styles.$color1;
      border-radius: 10px;
      padding: 20px;
      .lang1 {

      }
      .lang2 {

      }
    }
  }
  footer {
    height: 40px;
  }
}
