
.search-list {

  overflow: scroll;
  ul {
    li {
      height: 30px;
      border-bottom: 1px solid gainsboro;
      list-style: none;
      cursor: pointer;
    }
    li:first-child {
      border-top: 1px solid gainsboro;
    }
    li:hover {
      background-color: #f6f6f6;
    }
  }
}
