$main-color: #035683;
$main-light-color: #219ebc;
$sec-color: #fb8500;
$sec-light-color: #ffb703;
$alt-color: #8ecae6;
$main-font: 'Montserrat', sans-serif;
$alt-font: 'League Gothic', sans-serif;


//https://coolors.co/475785-c0a9b0-6987c9-7880b5-6bbaec
//$main2: #2a9d8f;
//$main-dark2: #264653;
//$accent2: #e76f51;
//$grey: #dde7ff;
//$grey-light: #eef3ff;

//$_main: #475785; // purple navy
//$_alt: #6987C9; // glaucous
//$_accent: #C0A9B0; // black shadows

$main: #090916; // dark forest
$grey: #229ebc;
$light-grey: #26b0d2;
$accent: #cf711f; //
$accent-tint: #e67e22;
$dimmed-white: #f8f8f8;
$shade-white: #a6a6a6;

